$(function(){
  <% if @libraries.none?{|l|l.oxpoints_id.blank?} %>
    /* We use a multiple selector to stop jQuery shortening to document.getElementById()
     * which would only return the first result (and there might be multiple #library_map
     * elements, shockingly; e.g. on Contact pages */
     <% oxpoints_codes = @libraries.map{|l| "oxpoints:#{l.oxpoints_id}" }.join(',') %>
    $('#library_map, #junk-id-goes-here').each(function(){
      $(this).css({ position: 'absolute' }); // allow .iframe-overlay to "overlay" the iframe and catch clicks
      $(this).html('<iframe src="//maps.ox.ac.uk/embed.html#/custom?ids=<%= oxpoints_codes %>&fullscreen" frameborder="0" scrolling="no" style="height: 100%; width: 100%;"></iframe><a href="//maps.ox.ac.uk/embed.html#/custom?ids=<%= oxpoints_codes %>" class="iframe-overlay" style="display: block; position: absolute; top: 0; width: 38px; height: 35px;"></div>');
    });
  <% else %>
    function drawLibraryMap(element){
      var mapOptions = {
        center: new google.maps.LatLng(<%= @lat %>, <%= @lng %>),
        zoom: <%= @zoom %>,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: false
      };
      var map = new google.maps.Map(element, mapOptions);
      var info_windows = [];
      <% @libraries.each do |l| %>
        var marker<%= l.id %> = new google.maps.Marker({
          position: new google.maps.LatLng(<%= l.lat %>, <%= l.lng %>),
          map: map,
          title: "<%= l.name %>"
        });
        var infowindow<%= l.id %> = new google.maps.InfoWindow({
          content:"<p><strong><%= l.name %></strong><br /><%= l.address_lines[1..-1].join("\n").gsub(/ *[\r\n]+ */, '<br />') %></p>"
        });
        info_windows.push(infowindow<%= l.id %>);
        google.maps.event.addListener(marker<%= l.id %>, 'click', function() {
          for(var i = 0; i < info_windows.length; i++) info_windows[i].close();
          infowindow<%= l.id %>.open(map, marker<%= l.id %>);
        });
      <% end %>
    }

    /* We use a multiple selector to stop jQuery shortening to document.getElementById()
     * which would only return the first result (and there might be multiple #library_map
     * elements, shockingly; e.g. on Contact pages */
    $('#library_map, #junk-id-goes-here').each(function(){
      drawLibraryMap(this);
    }).on('click', function(){
      if($(this).hasClass('mobile')) return true;
      <% if @libraries.length == 1 %>
        window.location.href = 'http://maps.google.co.uk/maps?q=http://librarydata.bodleian.ox.ac.uk/libraries/<%= @libraries.first.id %>.kml';
      <% elsif !@group.blank? %>
        window.location.href = 'http://maps.google.co.uk/maps?q=http://librarydata.bodleian.ox.ac.uk/group/<%= @group %>/list.kml';
      <% end %>
      return true;
    });
  <% end %>
});
