- @library = library if (library ||= nil)
%p.alt_formats
  Alternate formats:
  %a{:href => @library.url(:xml)} XML
  |
  %a{:href => @library.url(:json)} JSON
  |
  %a{:href => @library.url(:kml)} KML
  |
  %a{:href => @library.url(:gmaps)} GMaps
  |
  %a{:href => @library.url(:js)} GMaps JS
  |
  %a{:href => @library.url(:mobile)} Mobile

- if @me && @me.can_edit?(@library)
  %p
    You can
    %a{:href => "/libraries/#{@library.id}/edit"} edit this library

:javascript
  $(function(){
    $('.new_cms_only').hide();
  });

= "<!--new cms start-->"
%h1#main_header.new_cms_only
  %a{:name => "L#{@library.id}"}
  = h @library.name

:javascript
  $(function(){
    $('.old_cms_only').hide();
  });

= "<!--cms start-->"

%h2#main_header.old_cms_only
  %a{:name => "L#{@library.id}"}
  = h @library.name

- # %p= @library.alternative_names_html

#anchor_links{:style => 'margin: 0 0 1em'}
  %center
    %a{:href => '#contact'} Contact
    |
    - if @show_social_networks
      %a{:href => '#social'} Social Networks
      |
    %a{:href => '#staff'} Staff
    |
    %a{:href => '#hours'} Opening Hours
    |
    %a{:href => '#admissions'} Policies
    |
    %a{:href => '#hours'} Opening Hours


#contentPool
  #Xcontact.groupsection
    %h3
      %a{:name => 'contact'} Contact
    .section

      %table.border{:width => '100%', :cellspacing => 2, :cellpadding => 2}
        %tr{:valign => 'top'}
          %th{:width => '18%'}
            %p Address:
          %td
            %p= @library.address_lines.collect{|a|h(a)}.join('<br />')

        - unless @library.telephone.blank?
          %tr{:valign => 'top'}
            %th{:width => '18%'}
              %p Phone:
            %td
              %p= h @library.telephone

        - unless @library.fax.blank?
          %tr{:valign => 'top'}
            %th{:width => '18%'}
              %p Fax:
            %td
              %p= h @library.fax

        - unless @library.email.blank?
          %tr{:valign => 'top'}
            %th{:width => '18%'}
              %p E-mail:
            %td
              %p= h @library.email

        - unless @library.website.blank?
          %tr{:valign => 'top'}
            %th{:width => '18%'}
              %p Website:
            %td
              %p
                %a{:href => no_quotes(@library.website)}= h(@library.website)

  - if @show_social_networks
    #Xsocial.groupsection
      %h3
        %a{:name => 'social'} Social Networks
      .section

        %table.border{:width => '100%', :cellspacing => 2, :cellpadding => 2}
          - @library.social_links.each do |social_link|
            %tr{:valign => 'top'}
              %th{:width => '18%'}
                %p= h(social_link.network_name)
              %td
                %p
                  %a{href: social_link.auto_url}= social_link.auto_url

  #Xstaff.groupsection
    %h3
      %a{:name => 'staff'} Library Staff
    .section
    
      - @library.staffs.all.each do |staff|
        %table.border{:width => '100%', :cellspacing => 2, :cellpadding => 2}
          %tr{:valign => 'top'}
            %th{:width => '18%'}
              %p= h "#{staff.job_title}:"
            %td
              %p= h staff.name_of_person

  #Xhours.groupsection
    %h3
      %a{:name => 'hours'} Opening Hours
    .section
    
      %p
        Note that opening hours may sometimes change at short notice.
        If travelling to visit a library you are advised to check with the library to confirm details.

      %table.border{:width => '100%', :cellspacing => 2, :cellpadding => 2}
        %tr{:valign => 'top'}
          %th{:width => '18%'}
            %p Term time:
          %td
            %p= @library.term_hours.blank? ? '<em>[Library has not supplied this information]</em>' : h(@library.term_hours)

      %table.border{:width => '100%', :cellspacing => 2, :cellpadding => 2}
        %tr{:valign => 'top'}
          %th{:width => '18%'}
            %p Vacation:
          %td
            %p= @library.vacation_hours.blank? ? '<em>[Library has not supplied this information]</em>' : h(@library.vacation_hours)

      %table.border{:width => '100%', :cellspacing => 2, :cellpadding => 2}
        %tr{:valign => 'top'}
          %th{:width => '18%'}
            %p Closed:
          %td
            %p= @library.closed_periods.blank? ? '<em>[Library has not supplied this information]</em>' : h(@library.closed_periods)

      - unless @library.hours_notes.blank?
        %table.border{:width => '100%', :cellspacing => 2, :cellpadding => 2}
          %tr{:valign => 'top'}
            %th{:width => '18%'}
              %p Notes:
            %td
              %p= h @library.hours_notes

  #Xadmissions.groupsection
    %h3
      %a{:name => 'admissions'} Admission and Borrowing Policies
    .section
    
      %p
        Note that by necessity these policies are much simplified and provided for initial guidance only.
        Please check with the library for full details.

      %table.border{:width => '100%', :cellspacing => 2, :cellpadding => 2}
        %tr{:valign => 'top'}
          %th{:width => '18%'}
            %p OU undergraduate students:
          %td
            %p
              = @library.borrowing_policies_html('ug')

        %tr{:valign => 'top'}
          %th{:width => '18%'}
            %p OU postgraduate students:
          %td
            %p
              = @library.borrowing_policies_html('pg')

        %tr{:valign => 'top'}
          %th{:width => '18%'}
            %p OU academic and research staff:
          %td
            %p
              = @library.borrowing_policies_html('academic')

        %tr{:valign => 'top'}
          %th{:width => '18%'}
            %p Others:
          %td
            %p
              = @library.borrowing_policies_html('other')

  #Xsubjects.groupsection
    %h3
      %a{:name => 'subjects'} Subjects Covered
    .section
    
      %p= h @library.subject_notes
      
= "<!--new cms end-->"
= "<!--cms end-->"