= "<!--cms start-->"

#library
  %h2= h @library.name

  - unless [@library.term_hours, @library.vacation_hours].all?(&:blank?)
    .section#opening
      - unless @library.term_hours.blank?
        .label Term:
        .value= h(@library.term_hours)

      - unless @library.vacation_hours.blank?
        .label Vacation:
        .value= h(@library.vacation_hours)

  - unless [@library.telephone, @library.email, @library.website].all?(&:blank?)
    .section#contact
      - unless @library.email.blank?
        .label Email:
        .value
          %a{:href => no_quotes("mailto:#{@library.email}")}= h(@library.email)

      - unless @library.telephone.blank?
        .label Telephone:
        .value
          %a{:href => no_quotes("tel:#{@library.telephone}")}= h(@library.telephone)

      - unless @library.website.blank?
        .label Website:
        .value
          %a{:href => no_quotes(@library.website)}= h(@library.website.gsub(/^https?:\/\//, '').gsub(/\/$/, ''))

  .section#address
    .label Address:
    .value= @library.address_lines.collect{|a|h(a)}.join(', ')

  .section{style: 'position: relative; height: 200px; padding: 0;'}
    #library_map.mobile{:style => 'width: 100%; height: 200px;'}

  .section#social_media
    - @library.social_links.each do |social_link|
      .label= h(social_link.network_name)
      .value
        %a{href: social_link.auto_url}= social_link.auto_url

  %script{:src => "/libraries/#{@library.id}.js", :type => 'text/javascript'}

= "<!--cms end-->"